@supports selector(:focus-visible) {
  // disable vuetify focus
  .v-list-item::after {
    border: none;
    opacity: 0;
  }
  .v-list-item__overlay {
    opacity: 0;
  }
}

.select-list-item {
  border: solid 2px transparent;
}

.select-list-item.v-list-item--active {
  border-color: rgba(117, 117, 117, var(--v-medium-emphasis-opacity));
  border-radius: 4px !important;
}

.select-list-item--selected.v-list-item--active {
  border-color: currentColor;
  border-radius: 4px !important;
}

.select-list-item--selected {
  background: rgba(var(--v-theme-primary), 0.15);
  color: rgba(var(--v-theme-primary), 0.83);
}